/*  -- Colors of the Project -- */

:root {
    --primario: hsl(0, 0%, 100%);
    --secundario: hsl(212, 45%, 89%);
    --tercero: hsl(220, 15%, 55%);
    --cuarto: hsl(218, 44%, 22%);
}

/* --Globales-- */

html {
     font-size: 62.5%; /** Hack para proyectos **/   box-sizing: border-box; /* Ayuda para el Box Model CSS */
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    font-size: 16px; /* 1rem = 10px */
    background-color: var(--secundario);
    background: linear-gradient(to bottom 0% , to top 100%);

}

div.contenedor-qr {
    margin: 0 auto;
    background-color: var(--primario);
    font-family: 'Outfit', sans-serif;
    border-radius: 1.5rem;
    text-align: center;
    padding: 1.4rem;
    height: 44rem;
    width: 27rem;
    margin-top: 17rem;


}

div.contenedor-qr h1{
    font-size: 22px;
    color: var(--cuarto);
    font-weight: bold;
}

div.contenedor-qr p{
    font-size: 15px;
    color: var(--tercero);
    font-weight: normal;
}

img {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-right: 2rem;
    margin-bottom: 2.8rem;
}


